{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Nouveau projet</h1>
        </div>
    </header>
    <div id="content">
        {{ form_start(form) }}
            <div>{{ form_errors(form) }}</div>

            <div>{{ form_row(form.name) }}</div>

            <div>{{ form_row(form.users) }}</div>

            <button class="button button-submit">Continuer</button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
