{% extends 'auth.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    <div class="form-flex">
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
    </div>
    <button class="button button-submit">Continuer</button>
    <a href="#" class="link-logout">Vous avez déjà un compte ?</a>

    {{ form_end(form) }}
{% endblock %}
